.headerContainer {
  background-color: var(--headerBg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  margin-bottom: 24px;
  border-radius: 16px;

  .headerPiece {
    display: flex;
    align-items: center;
    gap: 40px;

    button {
      border: none;
      background: transparent;
    }
  }
  .logo {
    display: flex;
    gap: 8px;
    color: white;

    h4 {
      font-size: 18px;
      font-weight: 700;
      line-height: 26.01px;
      letter-spacing: -0.25px;
      text-align: left;
    }
  }
}

@media (max-width: 426px) {
  .headerContainer { 
    border-radius: 0;
    .logo {
      display: none;
    }
  }
}
