.commentsContainer {
  margin-block: 40px;
  border-radius: 16px;
  background-color: var(--cardBg);
  padding: 24px 32px;
}

.commentsGeneral {
  height: 40vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 24px;


  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26.01px;
    letter-spacing: -0.25px;
    text-align: left;
    color: var(--titleText);
  }

  .commentsCard {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8c92b338;
    gap: 32px;
    padding-bottom: 32px;

    .content {
      display: flex;
      gap: 16px;

      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 21.68px;
        text-align: left;
        color: var(--contentText);
      }

      .userInformation {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-between;

        .avatarInfo {
          display: flex;
          flex-direction: column;


          h4 {
            color: var(--titleText);
            font-size: 14px;
            font-weight: 700;
            line-height: 20.23px;
            letter-spacing: -0.1944444477558136px;
            text-align: left;
            text-transform: capitalize;
          }

          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20.23px;
            text-align: left;
            color: var(--contentText);
          }

          h5 {
            font-size: 14px;
            font-weight: 400;
            line-height: 20.23px;
            text-align: left;
            color: rgba(100, 113, 150, 1);
          }
        }

      }
    }
  }
}

.commentsGeneral::-webkit-scrollbar {
  display: none;
}

.replyCommentCard {
  padding-left: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #8c92b338;
  gap: 32px;
  padding-bottom: 32px;

  .content {
    display: flex;
    gap: 16px;

    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 21.68px;
      text-align: left;
      color: var(--contentText);
    }

    span {
      font-size: 15px;
      font-weight: 700;
      line-height: 21.68px;
      text-align: left;
      color: rgba(173, 31, 234, 1);
      margin-right: 10px;
    }

    .userInformation {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: space-between;

      .avatarInfo {
        display: flex;
        flex-direction: column;


        h4 {
          color: var(--titleText);
          font-size: 14px;
          font-weight: 700;
          line-height: 20.23px;
          letter-spacing: -0.1944444477558136px;
          text-align: left;
          text-transform: capitalize;
        }

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 20.23px;
          text-align: left;
          color: var(--contentText);
        }

        h5 {
          font-size: 14px;
          font-weight: 400;
          line-height: 20.23px;
          text-align: left;
          color: rgba(100, 113, 150, 1);
        }
      }
    }
  }
}


@media (width <=425px) {
  .commentsContainer {
    width: 90%;
    margin: 20px auto;
  }
}