.roadmapHeaderPage {
  display: flex;
  justify-content: space-between;
  background-color: var(--headerBg);
  align-items: center;
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 48px;

  .road {
    display: flex;
    flex-direction: column;
    gap: 6px;

    h4 { 
      font-size: 24px;
      font-weight: 700;
      line-height: 34.68px;
      letter-spacing: -0.3333333432674408px;
      text-align: left;
      color: white;
    }
  }
}

@media (max-width : 426px) {
    .roadmapHeaderPage{
      border-radius: 0; 
      margin-bottom: 24px;
    }
}