:root {
  --bodyBg: #f7f8fd;
  --boardBg: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  --headerBg: #373f68;
  --cardBg: #ffffff;
  --titleText: #3a4374;
  --contentText: #647196;
  --categoryText: #4661e6;
  --categoryTextHover: #ffffff;
  --categoryButtonBg: #f2f4ff;
  --categoryButtonBgHover: #4661e6;
  --userReplyText: #ad1fea;
  --plannedColor: #f49f85;
  --inProgreessColor: #ad1fea;
  --liveColor: #62bcfa;
  --button1: #ad1fea;
  --button2: #4661e6;
  --button3: #3a4374;
  --button4: #d73737;
  --goBackText: #647196;
  --button1hover: #c75af6;
  --button2hover: #7c91f9;
  --button3hover: #656ea3;
  --button4hover: #e98888;
  --buttonText: #f2f4fe;
  --likeBtnBg: #f2f4fe;
  --likeBtnBgHover: #cfd7ff;
  --likeBtnText: #3a4374;
}
[data-theme="dark"] {
  --bodyBg: #141625;
  --headerBg: #10183d;
  --cardBg: #0c0e16;
  --titleText: #f2f4fe;
  --contentText: #f2f4fea4;
  --likeBtnBg: #352f2f;
  --likeBtnBgHover: #4a5168;
  --likeBtnText: #f2f4fe;
  --categoryButtonBg: #352f2f;
  --categoryButtonBgHover: #cfb6b6;
  --button1: #540974;
  --button2: #1c2e85;
  --button3: #3a4374;
  --button4: #d73737;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui;
  background-color: var(--bodyBg);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
}

.bodycontent {
  max-width: 1110px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 3fr 9fr;
  gap: 30px;
}

@media (max-width: 920px) {
  .bodycontent {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 24px;
  }
}

@media (max-width: 426px) {
  .bodycontent {
    margin: 0px;
    gap: 0;
  }
}
