.roadmapContent {
  grid-template-columns: 1fr;
  max-width: 1110px;
  margin: 40px auto;
}

.roadCont {
  max-width: 1110px;
}

.generalRoadmap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  .roadItemHeader {
    margin-bottom: 20px;

    h6 {
      font-size: 18px;
      font-weight: 700;
      line-height: 26.01px;
      letter-spacing: -0.25px;
      text-align: left;
      color: var(--titleText);
    }

    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 23.12px;
      text-align: left;
      color: var(--contentText);
    }
  }
}

.notfoundfeedback{
  text-align: center;
  text-transform: capitalize;
  color: gray;
}

.planned {

  .roadItemContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 4px solid var(--plannedColor);
    background-color: var(--cardBg);
    border-radius: 8px;
    padding: 32px;
  
    p {
      display: flex;
      gap: 6px;
      color: var(--contentText);
  
      span {
        color: var(--plannedColor);
      }
    }
  
    h2 {
      color: var(--titleText);
    }
  
    .tags {
      font-size: 13px;
      font-weight: 600;
      line-height: 18.79px;
      text-align: left;
      background-color: var();
      color: var(--categoryText);
      background-color: var(--likeBtnBg);
      padding: 6px 16px;
      border-radius: 8px;
      width: fit-content;
    }

  }
}

.inprogress {

  .roadItemContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 4px solid var(--inProgreessColor);
    background-color: var(--cardBg);
    border-radius: 8px;
    padding: 32px;
  
    p {
      display: flex;
      gap: 6px;
      color: var(--contentText);
  
      span {
        color:var(--inProgreessColor);
      }
    }
  
    h2 {
      color: var(--titleText);
    }
  
    .tags {
      font-size: 13px;
      font-weight: 600;
      line-height: 18.79px;
      text-align: left;
      background-color: var();
      color: var(--categoryText);
      background-color: var(--likeBtnBg);
      padding: 6px 16px;
      border-radius: 8px;
      width: fit-content;
    }

  }
}

.live {

  .roadItemContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 4px solid var(--liveColor);
    background-color: var(--cardBg);
    border-radius: 8px;
    padding: 32px;
  
    p {
      display: flex;
      gap: 6px;
      color: var(--contentText);
  
      span {
        color:var(--liveColor);
      }
    }
  
    h2 {
      color: var(--titleText);
    }
  
    .tags {
      font-size: 13px;
      font-weight: 600;
      line-height: 18.79px;
      text-align: left;
      background-color: var();
      color: var(--categoryText);
      background-color: var(--likeBtnBg);
      padding: 6px 16px;
      border-radius: 8px;
      width: fit-content;
    }

  }
}

.listRoadmap {
  display: none;
}

@media (max-width: 920px) {
  .roadmapContent { 
    margin: 0px auto ;
    border-radius: 0;
  }
  .roadCont {
    max-width: 689px;
    margin: auto;
  }
  .generalRoadmap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media (max-width: 426px) {
  .roadCont {
    width: 100%;
    margin: 0 auto;
  }

  .generalRoadmap {
    display: none;
  }


  .listRoadmap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid rgba(140, 146, 179, 0.25);

    li {
      font-size: 13px;
      font-weight: 700;
      line-height: 18.79px;
      letter-spacing: -0.1805555522441864px;
      text-align: center;
      color: rgba(58, 67, 116, 0.4);
    }
  }
}