 .btnGroup {
   display: flex;
   justify-content: space-between;


   .deletebtn {
     background: #D73737 !important;
   }

   .deletebtn:hover{
    background: #E98888 !important; 
   }
 }

 .dialoghead{

  button{
    background: transparent;
  }
 }