.btnGroup {
  display: flex;
  justify-content: space-between;

  .deletebtn {
    background: #d73737 !important;
  }

  .deletebtn:hover {
    background: #e98888 !important;
  }
}

.dialoghead {
  button {
    background: transparent;
  }
}

dialog {
  overflow: hidden;
}

.editDialogContainer {
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
}

.editDialogContainer::-webkit-scrollbar {
  width: 10px;
}

.editDialogContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.editDialogContainer::-webkit-scrollbar-thumb {
  background: rgb(171, 116, 194);
  border-radius: 20px;
}

.editDialogContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(173, 31, 234, 1);
}
