.sideBarContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .sidebarHeader {
    padding: 68px 72px 24px 24px;
    display: flex;
    flex-direction: column;
    background: var(--boardBg);
    border-radius: 16px;
    button {
      display: none;
    }

    a {
      width: 100px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 900;
      background: white;
      padding: 5px 10px;
      text-align: center;
      color: #4661e6;
      margin-bottom: 10px;
      transition: all 0.8s;
    }

    a:hover {
      background: #4661e6;
      color: white;
      box-shadow: 0 0 5px #4661e6;
    }

    h2 {
      font-size: 20px;
      font-weight: 700;
      line-height: 28.9px;
      letter-spacing: -0.25px;
      text-align: left;
      color: white;
    }

    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 21.68px;
      text-align: left;
      color: #ffffff75;
    }
  }

  .categoryContainer {
    background-color: var(--cardBg);
    padding: 24px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    border-radius: 16px;

    button {
      border: none;
      border-radius: 8px;
      background-color: var(--categoryButtonBg);
      padding: 5px 16px;
      color: var(--categoryText);
      font-size: 13px;
      font-weight: 600;
      line-height: 18.79px;
      text-align: left;
    }

    button:hover {
      background-color: var(--categoryButtonBgHover);
      color: var(--categoryTextHover);
    }
  }
  .roadmapContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--cardBg);
    padding: 24px;
    border-radius: 16px;

    .roadmapHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 26.01px;
        letter-spacing: -0.25px;
        text-align: left;
        color: var(--titleText);
      }
      a {
        font-size: 13px;
        font-weight: 600;
        line-height: 18.79px;
        text-align: left;
        color: #4661e6;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        gap: 8px;
      }

      .planned {
        span {
          color: var(--plannedColor);
        }
      }

      .inProgress {
        span {
          color: var(--inProgreessColor);
        }
      }
      .live {
        span {
          color: var(--liveColor);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .sideBarContainer {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 426px) {
  .sideBarContainer {
    margin-inline: 24px;
    grid-template-columns: repeat(1, 1fr) !important;
    .sidebarHeader {
      flex-direction: row;
      border-radius: 0;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      button {
        display: block;
        border: none;
        background: transparent;
      }

      svg {
        width: 24px;
      }
      .sidebarHeaderContent {
        display: flex;
        flex-direction: column;
      }
    }
    .roadmapContainer {
      display: none;
    }

    .categoryContainer {
      display: none;
    }
  }
}
