.loginCont {
  display: grid;
  grid-template-columns: 50% 50%;

  img {
    margin: auto;
    background: transparent;
  }
}

.loginsignup {
  height: 100vh; 
  background: white;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media (max-width : 920px) {
  .loginCont {
    display: flex;
    flex-direction: column-reverse;
  }
} 