.detailContainer { 
  width: 730px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;

  .detailHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--headerBg);
    padding: 12px;
    border-radius: 16px;
  }

  .backBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.23px;
    text-align: left;
    color: var(--goBackText);
  }
}

@media (max-width: 920px) {
  .detailContainer {
    width: 90%;
    padding-inline: 24px;
  }
}

@media (max-width: 426px) {
  .detailContainer {
    max-width: 327px;
    padding-inline: 16px;
  }
}