.detailContainer {
  display: flex;
  flex-direction: column;
  margin-block: 40px;
  margin: 0px auto;

  .detailHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .backBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.23px;
    text-align: left;
    color: var(--goBackText);
  }
}
